
<form [formGroup]="fg">
    <mat-card class="app-card" >
        
        <mat-card-content>
            <div fxLayout="column">
                <div fxLayout="row" fxLayoutAlign="space-between">
                    <div class="app-title" cdkDrag>{{app.template.appName}}</div>
                    
                </div>
                <ng-container *ngIf="app.template.appType=='springboot'">
                    <div fxLayout="row" fxLayoutAlign="space-between">
                        <div fxLayout="row">
                            <div>A</div>
                            <div>B</div>
                            <div>C</div>
                            <div>D</div>
                        </div>
                        
                        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">

                            <div *ngIf="fg?.get('runLocal')?.value==true">
                                <mat-label>Branch</mat-label>
                                <mat-select [value]="app.currentBranch" (selectionChange)="branchChange($event)">
                                    <mat-option *ngFor="let b of app.branches" [value]="b">
                                        {{b}}
                                  </mat-option>
                                </mat-select>     
                            </div>
                            
                            <div fxLayout="column">
                                <div class="portLabel">Server</div>
                                <div class="server">{{fg.get('runLocal').value ? 'localhost' : fg.get('server').value}}</div>
                            </div>
                            <div fxLayout="column" *ngIf="fg.get('runLocal').value">
                                <div class="portLabel">Port</div>
                                <div class="port">{{fg.get('port').value}}</div>
                            </div>
                            <div fxLayout="column" *ngIf="fg.get('runLocal').value">
                                <div class="portLabel">Debug Port</div>
                                <div class="port">{{fg.get('debugPort').value}}</div>
                            </div>
                            <div class="ckbxDiv" *ngIf="fg.get('runLocal').value">
                                <mat-checkbox [value]="fg.value" (change)="onDebugWaitChange($event)"><span class="ckbxLabel">Wait on Debug</span></mat-checkbox>
                            </div>
                            <div class="ckbxDiv">
                                <mat-checkbox [value]="fg.value" (change)="onRunLocalChange($event)"><span class="ckbxLabel">Run Locally</span></mat-checkbox>
                            </div>
                        </div>
                        
                    </div>
                </ng-container>
                <div>
                    <app-console-panel [app]="app"></app-console-panel>
                    <!-- <textarea id="{{t.template.appName}}" class="console" matAutosizeMaxRows="10" matAutosizeMinRows="1"></textarea> -->
                </div>
                
                
            </div>

        </mat-card-content>
    </mat-card>
</form>
