
<div fxLayout="column" *ngIf="isLoggedIn" >

    <div fxLayout="row" fxLayoutAlign="start center" class="project-header">
        <app-main-menu></app-main-menu>
        <div ><span *ngIf="selectedProject">Project : {{selectedProject.name}}</span></div>
    </div>

    <ng-container *ngIf="selectedProject">
        <div fxLayout="column" fxLayoutGap="10px" class="main-content" cdkDropList (cdkDropListDropped)="drop($event)">

            <app-app-panel [app]="app" [project]="selectedProject" *ngFor="let app of cards;"></app-app-panel>
        
        </div>
    </ng-container>
  </div>


