
<h2 mat-dialog-title>New Project Details</h2>

<mat-dialog-content>
    <form [formGroup]="fg">
        
        <div fxLayout="column">

            <mat-form-field appearance="standard">
                <mat-label>Project Name</mat-label>
                <input matInput placeholder="Enter project name" formControlName="projectName" (input)=nameChanged($event)>
            </mat-form-field>
    
            <mat-checkbox *ngFor="let t of templates"
                        
                        [value]="t" (change)="onCheckChange($event)"
                        >{{t.appName}}</mat-checkbox>
        </div>
        
        <div class="error">{{errorMessage}}</div>
        
    </form>
    
</mat-dialog-content>

<mat-dialog-actions fxLayout="row" fxLayoutAlign="end">
    <button mat-button color="primary" (click)="okClicked()" [disabled]="disableOk()">Ok</button>
    <button mat-button (click)="cancelClicked()" >Cancel</button>
</mat-dialog-actions>

